<style>

.header {
  margin: auto;
  width: 50%;
  text-align: center;
}

</style>

<head>
  <!-- search engine optimization -->
</head>

<body>

<header>
</header>

<div>
  <h1 class="header">Cascades Tech Club</h1>
</div>

<div style="float: left; width: 35%; margin-right: 4em">
  <h3>Nav Bar</h3>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
  </p>
</div>

<div style="float: right; width: 50%;">
  <h3>Content</h3>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
  </p>
</div>

<button onclick="func()">Click Me</button>

<br><br>

<footer style="clear: both; color: gray;">
  <div style="background-color: lightblue; height: 4em; padding-top: 2em;">
    CopyRight OSU Cascades Tech Club
  </div>
</footer>

</body>

<script>
(function() {
   console.log("doc loaded");
})();

  function func() {
    alert("i was clicked");
  }
</script>
